<div class="container">
    <div class="row header-row">
        <div class="col-2 border-green">Name</div>
        <div class="col-3 border-green">Kindergarden</div>
        <div class="col-2 border-green">Adresse</div>
        <div class="col-1 border-green">Alter</div>
        <div class="col-2 border-green">Geburtsdatum</div>
        <div class="col-2 border-green"></div>
    </div>


    <div class="row data-row" *ngFor="let child of storeService.children">
        <div class="col-2 ">{{child.name}}</div>
        <div class="col-3 n">{{child.kindergarden.name}}</div>
        <div class="col-2 ">{{child.kindergarden.address}}</div>
        <div class="col-1 ">{{getAge(child.birthDate)}}</div>
        <div class="col-2 ">{{child.birthDate | date:'longDate'}}</div>
        <div class="col-2  text-end">
            <button class="cancel-button" (click)="cancelRegistration(child.id)">Kind abmelden</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <mat-paginator 
                [length]="storeService.childrenTotalCount" 
                [pageSize]="CHILDREN_PER_PAGE" 
                [pageIndex]="currentPage - 1"
                (page)="selectPage($event.pageIndex)"
                [showFirstLastButtons]="true">
                class="custom-paginator">
            </mat-paginator>
        </div>
      </div>

      
