button.active {
    background-color: #ff8c00;
}

.border-green {
    border: none;
}

.header-row .col {
    border-bottom: 1px solid #4caf50;
}

.data-row .col {
    border-top: 1px solid green;
}

.text-right .col{
    text-align: right;}

    .mat-paginator {
        background-color: transparent !important;
      }