<footer class="footer-container">
    <div class="footer-content">
      <!-- Left Section -->
      <div class="left-section">
        <p>MAGISTRAT</p>
        <p>Hauptplatz 1-3</p>
        <p>1234 Wien</p>
        <p>magistrat@wien.at</p>
        <p>+43 / 2622 / 373-0</p>
      </div>
  
      <!-- Center Section -->
      <div class="center-section">
        <button mat-button (click)="navigateTo('impressum')">IMPRESSUM</button>
        <button mat-button (click)="navigateTo('datenschutz')">DATENSCHUTZ</button>
        <button mat-button (click)="navigateTo('stadtplan')">STADTPLAN</button>
        <button mat-button (click)="navigateTo('suche')">SUCHE</button>
      </div>
  
      <!-- Right Section -->
      <div class="right-section">
        <p>WICHTIGE TELEFONNUMMERN</p>
        <p>Gesundheitsamt: +43 / 2622 / 373-743</p>
        <p>Kindergärten: +43 / 2622 / 373-238</p>
        <p>Schulen: +43 / 2622 / 373-239</p>
        <p>Sozialservice: +43 / 2622 / 373-720</p>
        <p>Volkshochschule: +43 / 2622 / 373-923/-924</p>
        <p>Kinder- und Jugendhilfe: +43 / 2622 / 373-705</p>
        <p>Telefonzentrale/Vermittlung: +43 / 2622 / 373-0</p>
        <p></p>
      </div>
    </div>
  </footer>