<app-loading-spinner [showSpinner]="loading"></app-loading-spinner>
<div class="container">

  <mat-form-field class="filter-field">
    <input matInput (keyup)="filterByName($event)" placeholder="Filter nach Namen">
  </mat-form-field>

  <mat-form-field class="filter-field">
    <mat-label>Kindergarten filtern</mat-label>
    <mat-select [(ngModel)]="selectedKindergartenId" (ngModelChange)="filterByKindergarten()">
      <mat-option value="">Alle Kindergärten</mat-option>
      <mat-option *ngFor="let kindergarden of storeService.kindergardens" [value]="kindergarden.id">
        {{kindergarden.name}}, {{kindergarden.address}}
      </mat-option>
    </mat-select>
  </mat-form-field>
      
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
      <!-- Header Row -->
      <ng-container matColumnDef="nameColumn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="name" sortActionDescription="Sort by name">
          Name
        </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="kindergartenNameColumn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="kindergarden.name" sortActionDescription="Sort by kindergarten name">
          Kindergarten
        </th>
        <td mat-cell *matCellDef="let element"> {{element.kindergarden.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="kindergartenAddressColumn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="kindergarden.address" sortActionDescription="Sort by kindergarten address">
          Address
        </th>
        <td mat-cell *matCellDef="let element"> {{element.kindergarden.address}} </td>
      </ng-container>
  
      <ng-container matColumnDef="ageColumn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="birthDate" sortActionDescription="Sort by birth date">
          Age
        </th>
        <td mat-cell *matCellDef="let element"> {{getAge(element.birthDate)}} </td>
      </ng-container>
  
      <ng-container matColumnDef="birthDateColumn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="birthDateColumn" sortActionDescription="Sort by birth date">
          Birth Date
        </th>
        <td mat-cell *matCellDef="let element"> {{element.birthDate | date:'longDate'}} </td>
      </ng-container>
  
      <!-- Header Row -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  
      <!-- Data Rows -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <ng-container matColumnDef="actionsColumn">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button class="cancel-button" (click)="cancelRegistration(element.id)">Kind abmelden</button>
        </td>
      </ng-container>
  
    </table>
  
   <!-- Paginator -->
  <div class="row">
    <div class="col">
      <mat-paginator [pageSize]="CHILDREN_PER_PAGE"
                     [pageIndex]="currentPage - 1"
                     [length]="storeService.childrenTotalCount"
                     (page)="selectPage($event.pageIndex)"
                     [showFirstLastButtons]="true"
                     class="custom-paginator">
      </mat-paginator>
    </div>
  </div>