button.active {
    background-color: #ff8c00;
}

.mat-mdc-paginator{
    background-color: transparent;
}

.border-green {
    border-bottom: 1px solid black !important;
}

.header-row .col {
    padding-top: 5px;
    border-bottom: 1px solid black !important;

}

.data-row .col {
    border-top: 1px solid black;
}
 
.cancel-button {
    background-color: #918787;
    color: whitesmoke;
    padding: 3px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width:auto; 
}
.filter-field {
    display: flex;
    position: relative;
    align-items: baseline; 
  }