<app-loading-spinner [showSpinner]="loading"></app-loading-spinner>

<form [formGroup]="addChildForm" (ngSubmit)="onSubmit()" #childForm="ngForm">
  <h2>Kindergartenanmeldung</h2>
  
  <!-- Name -->
 <mat-form-field appearance="fill">
  <mat-label [style.color]="!addChildForm.get('name').valid ? 'black' : 'black'">Name</mat-label>
    <input matInput formControlName="name">
    <mat-error *ngIf="formSubmitted && addChildForm.get('name').hasError('required')">Geben Sie den Namen des Kindes ein.</mat-error>
    <mat-error *ngIf="formSubmitted && addChildForm.get('name').hasError('minlength')">Mindestens 3 Zeichen.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label [style.color]="!addChildForm.get('name').valid ? 'black' : 'black'">Geburtsdatum</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="birthDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="addChildForm.get('birthDate').hasError('required') && formSubmitted">Geburtsdatum bitte auswählen.</mat-error>
    <mat-error *ngIf="formSubmitted && addChildForm.get('birthDate').hasError('futureDate')">Geburtstag kann nicht in der Zukunft sein.</mat-error>
  </mat-form-field>

  <!-- KindergardenId -->
  <mat-form-field appearance="fill">
    <mat-label [style.color]="!addChildForm.get('name').valid ? 'black' : 'black'">Kindergarten</mat-label>
    <mat-select formControlName="kindergardenId">
      <mat-option value="" disabled>Bitte auswählen</mat-option>
      <mat-option *ngFor="let kindergarden of storeService.kindergardens" [value]="kindergarden.id">
        {{kindergarden.name}}, {{kindergarden.address}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="formSubmitted && addChildForm.get('kindergardenId').hasError('required')">Kindergarten bitte auswählen.</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Erfassen</button>
</form>

<div *ngIf="successMessage" class="alert alert-success" role="alert">
  {{ successMessage }}
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">INFO</h4>
          <button type="button" class="btn-close" (click)="closeModel()" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <div id="modalMessage"></div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeModel()" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>