<div> 
<h2 class="title">Kindergarten List</h2>
</div>
<div class="kindergarten-list">
  <div class="empty-row"></div>
  <p></p>
  <div class="kindergarten-container"></div>
  <div *ngFor="let kindergarten of kindergartens" class="kindergarten-item">
    <div>
      <img [src]="kindergarten.photoUrl" alt="{{ kindergarten.name }} Photo" class="kindergarten-photo">
    </div>
    <div class="kindergarten-details">
      <h3>{{ kindergarten.name }}</h3>
      <p>{{ kindergarten.address }}</p>
      <p>{{ kindergarten.betreiber }}</p>
  
      <a *ngIf="kindergarten.website" [href]="kindergarten.website" target="_blank">Website besuchen</a>
    </div>
  </div>
</div>