<div class="welcome-container">
    <div class="text-container">
      <h1>Willkommen in unserer Welt des Kindergartens</h1>
     
    </div>
    <div class="image-container">
      <img  src="assets/images/willkommen.jpeg" alt="Willkommen" class="welcome-image">
    </div>
  </div>

  <div class="empty-row"></div>

  <div>
    <h2 class="einschreibung-title">Kindergarteneinschreibung</h2>
    <h3 class="einschreibung"> Die Kindergarteneinschreibung erfolgt jeweils von ca. Dezember bis ende Jänner 
    (genaues Datum wird vorher durch Plakate und im Amtsblatt "Städter 
    Nachrichten" bekanntgegeben) für den darauffolgenden September.</h3>

    <button type="anmelden" routerLink="/login">CLICK ZUR ANMELDUNGSSEITE</button>
  </div>

